$light-fw: 400;
$bold-fw: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

@mixin rowFlexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin columnFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin outfit {
    font-family: "Outfit";
    font-style: normal;
}

html {
    @include outfit;
}

body {
    @include rowFlexCenter;
    background-color: var(--slate300);
    min-height: 100vh;
}

.big-container {
    @include columnFlexCenter;
    width: min(90%, 20rem);
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1.2rem;
    padding: 1rem;
    padding-bottom: 2.5rem;

    .image {
        width: 100%;
        height: auto;
        border-radius: 0.6rem;
    }

    .body-text {
        @include columnFlexCenter;
        gap: 1.5rem;

        h1,
        p {
            text-align: center;
        }

        h1 {
            font-size: clamp(1.3rem, 2vw, 1.5rem);
            color: var(--slate900);
            font-weight: $bold-fw;
        }

        p {
            font-size: clamp(0.9rem, 2vw, 1rem);
            color: var(--slate500);
            font-weight: $light-fw;
        }
    }

}



@media screen and (min-width: 40rem) {
    body {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}