* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate300);
    font-family: "Outfit";
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.big-container{
    width: min(90%, 20rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    padding: 15px;
    border-radius: 20px;
    padding-bottom: 30px;
}
.big-container > * {
    flex: 1;
}
#image{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.body-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
h1, p{
    text-align: center;
}
h1{
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    color: var(--slate900);
}
p{
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: var(--slate500);
}

@media screen and (min-width: 600px) {
    body {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}